<div class="flex flex-col lg:flex-row gap-5">
  <!-- Alamat -->
  <div class="w-full lg:w-[300px] text-white">
    <h3 class="font-bold text-xl">Lokasi</h3>
    <p class="text-md">
      Jl. Trans Sulawesi, Desa Nuhon, Kecamatan Nuhon, Kabupaten Banggai,
      Provinsi Sulawesi Tengah, Indonesia.
    </p>
  </div>
  <!-- Hubungi -->
  <div class="w-full lg:w-[300px] text-white">
    <h3 class="font-bold mb-1 text-xl">Hubungi Kami</h3>
    <ul class="flex flex-col gap-y-3">
      <li><i class="fa-solid fa-phone p-1 border mr-3"></i>Nomor Admin</li>
      <li><i class="fa-solid fa-phone p-1 border mr-3"></i>Nomor Kantor</li>
      <li>
        <i class="fa-solid fa-envelope p-1 border mr-3"></i>Email Jika ada
      </li>
    </ul>
  </div>
</div>
<!-- Link ke web kecamata Nuhon lainnya -->
<div class="lg:w-[300px] w-full text-white">
  <h3 class="font-bold text-xl">Link Lainnya</h3>
  <ul class="flex flex-col">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <li><a href="#">Link 4</a></li>
    <li><a href="#">Tambah jika perlu</a></li>
  </ul>
</div>
